<!-- Pulls all the info from the base.html page -->
{% extends 'base.html' %}
{% block title %}
<h2>Book List</h2>
{% endblock %}


{%block content%}
{% for book in books %}
<div class="book" id="{{book.pk}}">
  <a style="font-weight: bold;" href="{% url 'books_detail' book.pk %}">{{ book.title }}</a>
  
  {% if book in priority_books %}
  <p>Render an approriate icon</p>
  {% endif %}
  <p>This is going to be an awesome icon for indicating priority</p>
  <p>{{ book.description }}</p>
  {% if book.category %}
  
  {% endif %}
</div>
{% endfor %}
{% endblock %}