<!-- Pulls all the info from the base.html page -->
{% extends 'base.html' %}
{% block title %}
<h2>Book List</h2>
{% endblock %} 


{%block content%} 
{% for book in books %}
<div class="book" id="{{book.pk}}">
    <a style="font-weight: bold;" href="{% url 'books_detail' book.pk %}">{{ book.title }}</a>
    {% comment %} <p>{{ book.title }}</p>
    <p>{{ book.author.name }}</p>
    <p>{{ book.description }}</p>
    <p>{{ book.created_at }}</p>
    <p>{{ book.updated_at }}</p> {% endcomment %}

</div>
{% endfor %} 
{% endblock %}


