{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block title %}<title>Books</title>{% endblock %}
  <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta.25/shoelace.css">
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css" />
  {% block heading %}
  <h1>Welcome to our Books!</h1>
  {% endblock %}
</head>

<body>
  {% comment %} <a href="{% url 'books_list' %}" class="top-menu"></a>
<section class='books container'> {% endcomment %}

{% comment %} Used to create bookmarks/favorites {% endcomment %}
{% comment %} <div data-id="{{ like_obj.id }}" data-type="article" data-action="bookmark" title="Favorites">
    <span class="glyphicon glyphicon-star"></span>
    <span data-count="bookmark">{{ like_obj.get_bookmark_count }}</span>
</div> {% endcomment %}


    {% block content %}
    {% endblock %}
  </section>
</body>

</html>